

.logo_slide {
    display: flex;
    white-space: nowrap;

    animation: infinitescroll 30s linear infinite;
}
@keyframes infinitescroll {
    from {    
        transform: translateX(0);
    }to{
        transform: translateX(-100%);
    }
}



