@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none; 
    
}
body {
    font-family: "Poppins", serif;
    font-weight: 400; /* Default weight for global usage */
    font-style: normal;
}
.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
.poppins-bolder {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }



